

/* CHATBOX
=============== */
.chatbox {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

/* CONTENT IS CLOSE */
.chatbox__support {
    display: flex;
    flex-direction: column;
    background: #eee;
    width: 350px;
    height: 450px;
    z-index: -123456;
    opacity: 0;
    transition: all .5s ease-in-out;
}

/* CONTENT ISOPEN */
.chatbox--active {
    transform: translateY(-40px);
    z-index: 123456;
    position: relative;
    opacity: 1;
    
}

/* BUTTON */
.chatbox__button {
    text-align: right;
    z-index: 123456;
    position: relative;
}


/* HEADER */
.chatbox__header {
    position: sticky;
    top: 0;
    
}

/* MESSAGES */
.chatbox__messages {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex-direction: column-reverse;
}


/* FOOTER */
.chatbox__footer {
    position: sticky;
    bottom: 0;
}


